<div class="content">
  <mat-form-field class="input-full">
    <input matInput placeholder="搜索">
  </mat-form-field>
  <div class="table-content">
    <table mat-table style="width: 100%"[dataSource]="data" matSort>
      <ng-container  matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>机场ID</th>
        <td mat-cell *matCellDef="let airport">{{airport.id}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>机场名称</th>
        <td mat-cell *matCellDef="let airport">{{airport.name}}</td>
      </ng-container>
      <ng-container matColumnDef="city">
        <th mat-header-cell *matHeaderCellDef>城市</th>
        <td mat-cell *matCellDef="let airport">{{airport.city}}</td>
      </ng-container>
      <ng-container matColumnDef="country">
        <th mat-header-cell *matHeaderCellDef>国家</th>
        <td mat-cell *matCellDef="let airport">{{airport.country}}</td>
      </ng-container>
      <ng-container matColumnDef="icao">
        <th mat-header-cell *matHeaderCellDef>4字码</th>
        <td mat-cell *matCellDef="let airport">{{airport.icao}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="AirportColumns"></tr>
      <tr mat-row *matRowDef="let airport; columns: AirportColumns"></tr>
    </table>
  </div>
  <mat-paginator [length]="60" [pageSize]="30"></mat-paginator>

</div>
