<mat-toolbar color="primary">
  <button *ngIf="!isHandset" class="herader-btn-menu" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <button *ngIf="isHandset" mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="header-title">航班可视化管理系统</span>
</mat-toolbar>
<mat-drawer-container class="container" [style.top]="isHandset?'56px':'64px'">
  <mat-drawer #drawer [mode]="isHandset?'over':'side'">
    <app-nav></app-nav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
