<mat-nav-list role="navigation">
  <h2 matSubheader>管理</h2>
  <mat-list-item routerLink="admin/airport" routerLinkActive="mat-list-item-active">
    <mat-icon matListIcon>public</mat-icon>
    <h3 matLine>世界机场信息</h3>
  </mat-list-item>
  <mat-list-item routerLink="/admin/flight" routerLinkActive="mat-list-item-active">
    <mat-icon matListIcon>local_airport</mat-icon>
    <h3  matLine>世界航班信息</h3>
  </mat-list-item>
  <h2 matSubheader>可视化</h2>
  <mat-list-item routerLink="/display/data" routerLinkActive="mat-list-item-active">
    <mat-icon matListIcon>place</mat-icon>
    <h3 matLine>航班数据可视化</h3>
  </mat-list-item>
</mat-nav-list>
